# indent
--indent 2
--ifdef no-indent

--self remove # redundantSelf
--importgrouping testable-bottom # sortedImports

# numberFormatting
--decimalgrouping 3
--hexgrouping "ignore"

# wrap
--maxwidth 80

# trailingCommas
--commas inline
--commas always # trailingCommas

# trailinc closure
--trailingclosures

# wrapArguments
--wraparguments before-first
--wrapcollections before-first
--wrapparameters before-first
--typeattributes prev-line # wrapAttributes
--funcattributes prev-line # wrapAttributes

--structthreshold 20 # organizeDeclarations
--enumthreshold 20 # organizeDeclarations

--organizetypes class,struct,enum,extension # organizeDeclarations
--extensionacl on-declarations # extensionAccessControl

# elseOnSameLine
--guardelse same-line

# rules
--rules anyObjectProtocol,redundantParens,redundantReturn,redundantSelf,sortedImports,strongifiedSelf,trailingCommas,trailingSpace,wrapArguments,wrapMultilineStatementBraces,indent,wrapAttributes,organizeDeclarations,markTypes,extensionAccessControl

#exclude
--exclude Pods,./Classes/Styles.swift,*.storyboard,*.xib

